{% extends 'base.html' %}

{% block body %}
    <div class = "container">
        <h1 style="font-family: Roboto Condensed; margin-bottom: 30px; color: black;">Горячие блюда</h1>
        <div style = "display:flex;justify-content:space-between;">
            {% for p in products %}
                {% if p.category == 'Горячие блюда' %}
                    <div class = "card" style = "width:33%;">
                        <img src="{{p.thumbnail.url}}" alt="" style = "width: 220px; height:260px;">
                        <h3 style = "font-family: Roboto Condensed; font-size: 20px;">{{p.name}}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h1 style="font-family: Roboto Condensed; margin-bottom: 30px; color: black;">Смузи</h1>
        <div style = "display:flex;justify-content:space-between;">
            {% for p in products %}
                {% if p.category == 'Смузи' %}
                    <div class = "card" style = "width:33%;">
                        <img src="{{p.thumbnail.url}}" alt="" style = "width: 220px; height:260px;">
                        <h3 style = "font-family: Roboto Condensed; font-size: 20px;">{{p.name}}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h1 style="font-family: Roboto Condensed; margin-bottom: 30px; color: black;">Завтраки</h1>
        <div style = "display:flex;justify-content:space-between;">
            {% for p in products %}
                {% if p.category == 'Завтраки' %}
                    <div class = "card" style = "width:33%;">
                        <img src="{{p.thumbnail.url}}" alt="" style = "width: 220px; height:260px;">
                        <h3 style = "font-family: Roboto Condensed; font-size: 20px;">{{p.name}}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}